@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-bg{
  color: white;
  background-color: #020a1d;
  min-width: 100vw;
  min-height: 100vh;
}

.rt-SelectTrigger {
  color: #ffffff !important;
  background-color: #4f46e5b3 !important;
  width: 12rem !important;
}

.rt-SelectTrigger:hover{
  cursor: pointer;
}

.rt-SelectContent{
  color: #ffffff !important;
  background-color: rgb(2, 10, 29,0.8) !important;
  width: 12rem !important;
}

input{
  color: black;
}

.monthlyFav .text-5xl.text-slate-300.font-semibold{
  font-size: 2rem!important;
}

.rt-TableRow{
  color: white !important;
}
.barGraphImg{

  width: 100% !important;
  object-fit: contain!important;
  height: 90%!important;
  padding-top: 10px!important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
