@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-bg{
  color: white;
  background: linear-gradient(to left, #19293a, #020a1d);
  min-width: 100vw;
  min-height: 100vh;
}

.rt-SelectTrigger {
  color: #ffffff !important;
  background-color: rgb(255 99 132 / 30%) !important;
  box-shadow: inset 0 0 0 1px var(--gray-a7);
  width: 12rem !important;
}

.rt-SelectTrigger:hover{
  cursor: pointer;
}

input{
  color: black;
}
.monthlyFav .text-5xl.text-slate-300.font-semibold{
  font-size: 2rem!important;
}

.barGraphImg{

  width: 100% !important;
  object-fit: contain!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
